body {
    font-family: Roboto, sans-serif;
}

section {
    padding-bottom: 6rem;
}

textarea {
    resize: none;
}

.no-underline {
    text-decoration: none;
}

.padtop {
    padding-top: 8rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e15f41;
    z-index: 1050;
    transition: background-color .5s ease;
}

.header--is-hidden {
    background-color: transparent;
    transition: background-color .5s ease;
}

.carousel-item {
    transition: transform 1s ease-in-out;
}

.carousel-item .img-100 {
    width: 100%;
}

.navbar {
    /* background-color: #e15f41; */
    padding: 0;
}


.header .nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

.header .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    font-family: Pacifico, cursive;
}

#sobre-o-restaurante, #cardapio {
    background-color: #ffeae6;
}

.text-colored {
    color: #e15f41;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #e15f41;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #e15f41;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links li a {
    text-decoration: none;
}

.animation {
    transition: height 1s ease;
}

footer {
    background-color: #e15f41;
    color: #fff;
    padding: 1em 0;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}